.Container-Date{
    position:relative;
    color:white;
    width:400px;
    display:flex;
    align-items:center;
    padding:0 15px;
    justify-content:space-between;
    border-radius:40px;
}
.Date-Title-Text{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:15px;
}
.rotate-button {
    padding: 7px 5px;
    color:  #5156BE;
    cursor: pointer;
    transition: transform 0.3s ease; 
        }
    .rotate-button.rotate {
    transform: rotate(180deg);
        }
    .icon {
    margin-right: 4px; 
        }   
.animated-div-r {
    transform: translateX(-100%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    position:absolute;
    z-index:-1;
    top:0;
    left:100%;
    padding:0px 15px 0px 200px ;
    background-color:#ADB9CA;
    border-radius:40px;
    opacity: 0;
}
.animated-div-r.show {
    opacity: 0.6;
    color: black;
    transform: translateX(-65%);
}
.animated-div-b {
    transform: translateY(30%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width: 100%;
    background-color:#ADB9CA;
    border-radius:10px;
    padding: 5px;
    opacity: 0;
}
.animated-div-b.show {
    opacity: 0.6;
    color: black;
    transform: translateY(70%);
}
.scroll{
    display: flex;
    overflow-x: scroll;
    margin-left: 15px;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.click {
    cursor:pointer;
    text-decoration:none;
    text-align:center;
    margin:0 100px 0 0px;
    font-weight: 400;
    font-size:18px;
}
.click p{
    margin: 5px;
}
.click.active {
    color: #007bff;
    font-size:20px;
    font-weight: 600;
}
.containerHours{
display:flex;
margin-left:20px;
align-items:center;
margin-top: -7px;
}
.Hours{
    color:#5390EB;
    font-size:20px;
    font-weight:400;
    margin-right:100px;
}
.containerHours p{
    color:#7D7D7D;
    font-weight:400;
    font-size:20px;
}
.containerHours button{
    border: none;
    margin: 10px;
    padding: 7px 7px;
    border-radius: 50%;
    background-color: white;
    color: #5156BE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.281);
    cursor: pointer;
}
.ContainerDate{
    overflow-x: scroll;
    height: 400px;
    margin-left: 70px;
}
.ContainerDate::-webkit-scrollbar{
    display: none;
}
.date-div{
    width: 200%;
    display:flex;
    justify-content:space-around;
    border-top: 1px solid rgba(128, 128, 128, 0.421);
    padding: 7px 0px;
}
.icon-r-page{
    position: fixed;
    z-index: 100;
    display: grid;
    top: 53vh;
    left: 94%;
}
.icon-r-page button{
    box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.264);
    border: none;
    padding: 14px;
    margin-top:10px ;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    color: white;
}

.icon-page {
    position: fixed;
    z-index: 100;
    display: grid;
    top: 20vh;
    left: 96%;
    z-index: 3;
}
.icon-page button{
    box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.264);
    border: none;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    color: white;
    z-index: 3;
}
.animated-div-e {
    transform: translateY(0);
    transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width: 77%;
    height: 150px;
    background-color:#ffffff;
    box-shadow: 0 0 2px 1px rgba(59, 59, 59, 0.264);
    border-radius:10px;
    padding: 5px;
    opacity: 0;
}
.animated-div-e.show {
    opacity: 0.6;
    color: black;
    padding-top: 30px;
    transform: translateY(5%);
}